@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=League+Gothic&family=Manrope:wght@400;700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,800&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700;1,800;1,900&family=Work+Sans:wght@100;400&display=swap');

header {
    height: 95vh;

}

header::before {
    background: none;
}

.About-content {

    margin-top: 3%;
}

.About-content h4 {
    color: #F1F1F1;
    font-family: 'Open sans';
    font-weight: 400;
    font-size: 20px;
}

.About-content .content {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 64px;
    line-height: 84px;
    color: white;
}

.small-content {
    font-family: 'Open sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #F1F1F1;
    /* border: 2px solid black; */
    display: inline-block;
    padding: 20px 200px;
}

.lightbox-gallery {
    height: 150vh;
}


.story-content {

    width: 60%;
    margin: auto;
    /* margin-bottom: 100px; */
    /* background: red  ; */
    /* border: 2px solid black; */
    /* height: 10vh; */
}

.Ourstory {
    transition: none;
    color: #777777;
    /* border: 2px solid black; */
    font-family: 'Open sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
}

.story-content h3,
.counter-content h3 {
    /* border: 2px solid black; */
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    width: 90%;
    margin-bottom: 35px;
}

.lightbox-gallery {
    /* border: 2px solid black; */
    height: 180vh;
}

.Counter {
    height: 80vh;
    background-color: #0A2640;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-content {
    width: 90%;
    /* height: 80%; */
    /* background: #777777; */
    text-align: center;
}

.counter-content h3 {
    /* border: 2px solid black; */
    margin: auto;
    color: white;
    margin-bottom: 40px;
}

.number {
    transition: none;
    color: white;
    /* border: 2px solid black; */
    font-family: 'Open sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
}

.Counter-Up {
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 25px;

}

.Counter-Up .box .counter {
    font-family: "Manrope";
    font-weight: 400;
    font-size: 96px;
    line-height: 56px;
    color: #4FE9A4;
    margin-bottom: 25px;
}

.box .feature {
    font-family: 'Open sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: white;
}



.card-content-2{
    height: 130vh;
    /* background: #777777; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}
.content-1{
    width: 75%;
    margin-top: 7%;
    /* background: white; */
    /* height: 1vh; */
    /* border: 2px solid black; */
}
.ourteam,.team-content h3{
    /* border: 2px solid black; */
    /* margin-bottom: 20px; */
    width: 48rem;
    margin-top:1rem;
    margin-left: -5rem;
    /* margin-bottom: 20px; */
}
.team-content {
    margin-bottom: 50px;
}
.card-1{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;   
    padding: 10px;
    /* margin-left: -70px;  */
}

.left-card-2 h3,
.mid-card-2 h3,
.right-card-2 h3
{
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
}


.left-card-2 p,
.mid-card-2 p,
.right-card-2 p
{
    font-family: 'Open sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #777777;
}

.left-card-2,
.mid-card-2,
.right-card-2 
{
    /* border: 2px solid black; */
    border-radius: 24px;
    /* margin-left: 35px; */
}

.email-box{
    /* border: 2px solid black; */
    margin-top: 9%;
}